.idea/
*~
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
bin/
target/
project/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet